@model Features.ShowMailingLabel.ViewModel
@{
    ViewBag.Title = "Mailing Label";
}

<div class="jumbotron">
    <h1>SOA Etudes - UI Composition</h1>
    <p class="lead">Components from multiple services combined to produce a UI</p>
@*    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <h2>Mailing label</h2>
    <div>@Model.Name</div>
    <div>@Model.Address</div>
    <div>@Model.CityStateZip</div>
</div>